<div class="flex flex-col mr-4">
  <h1 class="text-2xl font-bold"><%= @project.name %></h1>
  <p class="text-gray-600 mt-2"><%= @project.description %></p>
  <hr>
  <div id="total_task_count" class="text-gray-600 mt-2">Total Tasks in this Project => <%= @total_project_tasks %></div>
  <div id="to_do_task_count" class="text-gray-600 mt-2">To Do Tasks Count => <%= @to_do_tasks_count %></div>
  <div id="in_progress_task_count" class="text-gray-600 mt-2">In Progress Tasks Count => <%= @in_progress_tasks_count %></div>
  <div id="completed_task_count" class="text-gray-600 mt-2">Completed Tasks Count => <%= @completed_tasks_count %></div>
  <%# @progress_bar = (@completed_tasks_count.to_f/@total_project_tasks)*100 %>
  <div id="progress_bar" class="font-bold text-xl underline mt-2">Task Completion => <%= @progress_bar %>%</div>
</div>

<!-- New Task Button -->
<%= link_to "New Task", new_project_task_path(@project), data: { turbo_frame: "task_form" }, class: "bg-green-500 text-white px-4 py-2 rounded" %>

<!-- Turbo Frame for Task Form -->
<turbo-frame id="task_form"></turbo-frame>

<!-- Task List -->
<h2 class="text-xl font-semibold ml-2 mt-4">Tasks</h2>
<div id="tasks">
  <% tasks = @project.tasks %>
  <% tasks.each do |task| %>
    <%= render partial: "tasks/task", locals: {task: task, project: @project} %>
  <% end %>
</div>
<%= turbo_stream_from "task_crud" %>